@import "tailwindcss";

@theme {
  /* Colors */
  --color-brand-primary-50: #FDF7E4;
  --color-brand-primary-100: #FBEFC9;
  --color-brand-primary-200: #F7DF94;
  --color-brand-primary-300: #F3CF5E;
  --color-brand-primary-400: #EFBF29;
  --color-brand-primary: #D4A10F;
  --color-brand-primary-600: #A97D0C;
  --color-brand-primary-700: #7F5E09;
  --color-brand-primary-800: #543E06;
  --color-brand-primary-900: #2A1F03;
  /* --- */
  --color-brand-secondary-50: #E6ECEC;
  --color-brand-secondary-100: #CCD9DA;
  --color-brand-secondary-200: #99B3B5;
  --color-brand-secondary-300: #668D90;
  --color-brand-secondary-400: #33676B;
  --color-brand-secondary: #00454A;
  --color-brand-secondary-600: #00373B;
  --color-brand-secondary-700: #00292C;
  --color-brand-secondary-800: #001B1E;
  --color-brand-secondary-900: #000D0F;
}

/* Utilities */

@utility max-w-cont {
  @apply min-[1440px]:max-w-[1400px] mx-auto min-[1440px]:px-0
}

@utility px-cont {
  @apply px-4 sm:px-6 md:px-8 lg:px-20 xl:px-24;
}

@utility gradient-brand-teal {
  @apply bg-gradient-to-b from-brand-secondary-900 via-brand-secondary-600 to-transparent;
}

/* Bg Styles for Buttons and Text */
@utility text-bg-mixed-primary {
  @apply bg-brand-primary text-brand-secondary-600
}

@utility text-bg-mixed-secondary {
  @apply bg-brand-secondary text-brand-primary-300
}

/* Buttons */
@utility btn {
  @apply py-3 px-6 border-2 border-transparent font-bold rounded-lg transition-colors duration-300 flex items-center justify-center cursor-pointer
}

@utility btn-primary {
  @apply btn bg-brand-primary-400 hover:bg-brand-primary-400/93 text-black
}

@utility btn-secondary {
  @apply btn bg-brand-secondary hover:bg-brand-secondary-600 text-white
}

@utility btn-primary-white {
  @apply btn bg-white border border-gray-200 text-brand-primary-600/90 hover:text-brand-primary hover:shadow-lg hover:shadow-white/30
}

@utility btn-secondary-white {
  @apply btn bg-white text-brand-secondary hover:bg-brand-secondary hover:text-white
}

@utility btn-primary-mixed {
  @apply btn text-bg-mixed-primary hover:bg-brand-primary-400
}

@utility btn-secondary-mixed {
  @apply btn text-bg-mixed-secondary hover:bg-brand-secondary-600
}

/* Seo Text */
@utility seo-text-section {
  @apply relative overflow-y-scroll border-t border-brand-secondary-100 bg-gray-50;
}

/* seo text section scrollbar */
.seo-text-section::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.seo-text-section::-webkit-scrollbar-thumb {
  background-color: transparent
}

/* hover states */
.seo-text-section:hover::-webkit-scrollbar {
  background-color: var(--color-brand-secondary);
}
.seo-text-section:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-primary)
}

.seo-text-section > .seo-text-section__content {
  @apply px-cont pt-14 space-y-6;
}

/* seo text Internal elements */
.seo-text-section > .seo-text-section__content > div {
  @apply space-y-6;
}

.seo-text-section > .seo-text-section__content h1 {
  @apply max-w-[700px] mb-8 mx-auto text-4xl font-bold text-brand-secondary text-center leading-12;
}

.seo-text-section > .seo-text-section__content h2 {
  @apply text-3xl font-bold text-brand-secondary mb-5;
}